body,html{
  height: 100%;
}
body {
  background: #000000 !important;   
  font-family: 'Montserrat', sans-serif;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12%;
}
.user-card {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: #fff;
 border-radius: 10px;
 padding: 40px;
 width: 650px;
 position: relative;
 overflow: hidden;
 box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}

.user-card:before {
  content: '';
  position: absolute;
  height: 300%;
  width: 173px;
  background: #262626;
  top: -60px;
  left: -125px;
  z-index: 0;
  transform: rotate(17deg);
}

.user-card-img {
  display: flex;
  justify-content: center;
  align-items: center;   
  z-index: 3;
}

.user-card-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.user-card-info {
  text-align: center;
}

.user-card-info h2 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
}

.user-card-info p {
  font-size: 14px;
  margin-bottom: 2px;
}
.user-card-info p span {
 font-weight: 700;
 margin-right: 10px;
}
@media only screen and (min-width: 768px) {
  .user-card {
    flex-direction: row;
    align-items: flex-start;
  }   
  .user-card-img {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .user-card-info {
    text-align: left;
  }
}

@media (max-width: 767px){
  .wrapper{
     padding-top: 3%;
  }
  .user-card:before {
     width: 300%;
     height: 200px;
     transform: rotate(0);
  }
  .user-card-info h2 {
     margin-top: 25px;
     font-size: 35px;
  }
  .user-card-info p span {
     display: block;
     margin-bottom: 15px;
     font-size: 18px;
  }
}

.batc {
  cursor: pointer;
  width: 100%;
  height: 50% !important;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 15px;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
}

/* ---------------------------------- FORM ---------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #ffffff;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ffffff;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #ffffff;
}

input::placeholder, textarea::placeholder {
  color: #ffffff;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #ffffff;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #ffffff;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #ffffff;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #ffffff;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #ffffff;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #ffffff;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #ffffff;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Lato', sans-serif;
  background: #ffffff;
  color: #000000;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #ffffff;
  
  border: solid 1px #ffffff;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #ffffff;
  color: #000000;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #ffffff;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #ffffff;
  color: #000000;
}

#addproduct {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #ffffff;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #ffffff;
  border-top: none;
}

#addproduct:hover {
  color: #000000;
}


#delete-btn {
  width: 502px;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #ffffff;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #ffffff;
  border-top: none;
}

#delete-btnt:hover {
  color: #000000;
}
